

:root {

    --color-primary: #25ab75;
    --color-primary-dark: #208c61;
    --color-bg-primary: #1a1a1a;
    --color-bg-secondary: #242424;
    --color-bg-footer: #151515;
    --color-white: #ffffff;
    --color-text: #676767;
    --color-border: #373737;
}
*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    
}
#brand a{
    color: var(--color-primary-dark);
    font-weight: 600;
}

.nav-item:hover a{
    color: var(--color-primary-dark);
}

#info h1{
    font-weight: 800;
    font-size: 50px;
    
}
.nav-item a{
color: var(--color-bg-footer);
}

.navbar{
background-color: var(--color-white);
}
#bar1{
    
    width: 150px;
    height: 8px;
    background-color: var(--color-primary);
}

#info p{
    text-align: justify;
}

#block h2{
    font-weight: 800;
}



#bar2{
    
    width: 40px;
    height: 6px;
    background-color: var(--color-primary);
}

#code{
    color: var(--color-bg-primary);
}
#more a{
    color: var(--color-white);
    text-decoration: none;
}

#aboutinfo p{
    text-align: justify;

}

#b1 , #b2{
    background-color: var(--color-primary);
}

#b1 h5{
    color: var(--color-bg-primary);
    font-weight: 800;
}

#b1,#b2 ul{
    color: var(--color-bg-primary);
}
#b2 h5{
    color: var(--color-bg-primary);
    font-weight: 800;
}


footer{
    background-color: var(--color-bg-footer);
    color: var(--color-white);
  
}

.ico{
    color: var(--color-white);   
}

.ico:hover{
    color: var(--color-primary-dark);
}
.spl:hover{
    text-decoration: underline;
    color: var(--color-primary-dark);
    cursor: pointer;
}

#bar3{
    
    width: 60px;
    height: 6px;
    background-color: var(--color-primary);
}



#send,#resume,#more{
    background-color: var(--color-primary);
    width: 150px;
    height: 50px;
    color: var(--color-white);
    
}



#resume a{
    text-decoration: none;
    color: var(--color-white);
}

#more:hover{
    background-color: var(--color-primary-dark);
}

#send:hover{
    background-color: var(--color-primary-dark);

}
#resume:hover{
    background-color: var(--color-primary-dark);
}
.list{
    list-style-type: square;
   
}

li::marker{
    color: var(--color-white);
}

.card:hover{
    transform: scale(1.1);
    transition: .3s;

}
.card-text{
    color: var(--color-text);
}

.viewp{
    color: var(--color-white);
    font-weight: 500;
    font-size: medium;

}

/* .viewp:hover{
    color: var(--color-primary-dark);
} */

.viewpro{
    background-color: var(--color-primary);
    width: 150px;
    height: 50px;
    

}

.viewpro:hover{
    background-color: var(--color-primary-dark);
    
}

#b1:hover{
    transform: scale(1.1);
    transition: .3s;

}
#b2:hover{
    transform: scale(1.1);
    transition: .3s;

}